body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(237, 232, 204, .3)!important;
  }

  #cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 99; */
  }
  
  #cabecalho img {
    width: 90px;
    margin: 5px 30px 10px 30px;
  }